<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WINlogistica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CONEXSAFNET" connectionString="Server = SRVHTCAS2;  Database =Procura; uid = sa; pwd = Amsac..2023; TransparentNetworkIPResolution = False; Pooling = Yes; Min Pool Size = 1; Max Pool Size = 100; Connection Reset = True;" providerName="System.Data.SqlClient"/>
    <add name="CONEXACCESO" connectionString="Server = SRVHTCAS2; Database =Acceso; uid = sa; pwd = Amsac..2023; TransparentNetworkIPResolution = False; Pooling = Yes; Min Pool Size = 1; Max Pool Size = 100; Connection Reset = True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFsafnetE" closeTimeout="00:15:00"
                    openTimeout="00:15:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
            </basicHttpBinding>
        </bindings>
    <client>
        <endpoint address="http://aplicacion.amsac.pe/SAFNET/WCFsafnetE.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFsafnetE"
            contract="SRsafnetE.IWCFsafnetE" name="BasicHttpBinding_IWCFsafnetE" />
    </client>
    </system.serviceModel>
    <userSettings>
        <WINlogistica.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </WINlogistica.Properties.Settings>
    </userSettings>
</configuration>